In [ ]:
# Import required libraries

In [1]:
import pandas as pd

In [ ]:
# Load the CSV file from the specified local path

In [2]:
file_path = r"C:\Users\LENOVO\Desktop\Elevate Labs Internship tasks\Day8\sales_data_sample.csv"
sales_data = pd.read_csv(file_path, encoding='ISO-8859-1')

In [ ]:
# Display the first 5 rows

In [3]:
sales_data.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [ ]:
Additional Queries You Can Use

In [ ]:
# 1. Get basic info about the dataset

In [4]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   object
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  ADDRESSLINE2      302 non-null    object
 17  CITY              2823 non-null   object
 18  STATE             1337 non-null   object
 19  POSTALCODE        2747 non-null   object
 20  COUNTRY           2823 non-null   object
 21  TERRITORY         1749 non-null   object
 22  CONTACTLASTNAME   2823 non-null   object
 23  CONTACTFIRSTNAME  2823 non-null   object
 24  DEALSIZE          2823 non-null   object
dtypes: float64(2), int64(7), object(16)
memory usage: 551.5+ KB

In [ ]:
# 2. Summary statistics for numeric columns

In [5]:
sales_data.describe()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,QTR_ID,MONTH_ID,YEAR_ID,MSRP
count,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.00000,2823.000000
mean,10258.725115,35.092809,83.658544,6.466171,3553.889072,2.717676,7.092455,2003.81509,100.715551
std,92.085478,9.741443,20.174277,4.225841,1841.865106,1.203878,3.656633,0.69967,40.187912
min,10100.000000,6.000000,26.880000,1.000000,482.130000,1.000000,1.000000,2003.00000,33.000000
25%,10180.000000,27.000000,68.860000,3.000000,2203.430000,2.000000,4.000000,2003.00000,68.000000
50%,10262.000000,35.000000,95.700000,6.000000,3184.800000,3.000000,8.000000,2004.00000,99.000000
75%,10333.500000,43.000000,100.000000,9.000000,4508.000000,4.000000,11.000000,2004.00000,124.000000
max,10425.000000,97.000000,100.000000,18.000000,14082.800000,4.000000,12.000000,2005.00000,214.000000

In [ ]:
# 3. Check for null values

In [6]:
sales_data.isnull().sum()

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [ ]:
# 4. Total Sales by Country

In [7]:
sales_by_country = sales_data.groupby('COUNTRY')['SALES'].sum().sort_values(ascending=False)
print(sales_by_country)

COUNTRY
USA            3627982.83
Spain          1215686.92
France         1110916.52
Australia       630623.10
UK              478880.46
Italy           374674.31
Finland         329581.91
Norway          307463.70
Singapore       288488.41
Denmark         245637.15
Canada          224078.56
Germany         220472.09
Sweden          210014.21
Austria         202062.53
Japan           188167.81
Switzerland     117713.56
Belgium         108412.62
Philippines      94015.73
Ireland          57756.43
Name: SALES, dtype: float64

In [ ]:
# 5. Total Orders by Deal Size

In [8]:
orders_by_dealsize = sales_data['DEALSIZE'].value_counts()
print(orders_by_dealsize)

DEALSIZE
Medium    1384
Small     1282
Large      157
Name: count, dtype: int64

In [ ]:
# 6. Monthly Sales Trend

In [9]:
sales_data['ORDERDATE'] = pd.to_datetime(sales_data['ORDERDATE'], errors='coerce')
monthly_sales = sales_data.groupby(sales_data['ORDERDATE'].dt.to_period('M'))['SALES'].sum()
print(monthly_sales)

ORDERDATE
2003-01     129753.60
2003-02     140836.19
2003-03     174504.90
2003-04     201609.55
2003-05     192673.11
2003-06     168082.56
2003-07     187731.88
2003-08     197809.30
2003-09     263973.36
2003-10     568290.97
2003-11    1029837.66
2003-12     261876.46
2004-01     316577.42
2004-02     311419.53
2004-03     205733.73
2004-04     206148.12
2004-05     273438.39
2004-06     286674.22
2004-07     327144.09
2004-08     461501.27
2004-09     320750.91
2004-10     552924.25
2004-11    1089048.01
2004-12     372802.66
2005-01     339543.42
2005-02     358186.18
2005-03     374262.76
2005-04     261633.29
2005-05     457861.06
Freq: M, Name: SALES, dtype: float64

In [ ]:
# 7. Top 10 Products by Sales

In [10]:
top_products = sales_data.groupby('PRODUCTCODE')['SALES'].sum().sort_values(ascending=False).head(10)
print(top_products)

PRODUCTCODE
S18_3232    288245.42
S10_1949    191073.03
S10_4698    170401.07
S12_1108    168585.32
S18_2238    154623.95
S12_3891    145332.04
S24_3856    140626.90
S12_2823    140006.16
S18_1662    139421.97
S12_1099    137177.01
Name: SALES, dtype: float64

In [ ]:
# 8. Filter: Orders shipped to USA with sales > 3000

In [11]:
usa_high_sales = sales_data[(sales_data['COUNTRY'] == 'USA') & (sales_data['SALES'] > 3000)]
print(usa_high_sales)

      ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
3           10145               45      83.26                6  3746.70
4           10159               49     100.00               14  5205.27
5           10168               36      96.66                1  3479.76
12          10251               28     100.00                2  3188.64
13          10263               34     100.00                2  3676.76
...           ...              ...        ...              ...      ...
2748        10168               39      82.91               17  3233.49
2752        10222               43      74.03                2  3183.29
2788        10329               44      86.13                8  3789.72
2817        10337               42      97.16                5  4080.72
2822        10414               47      65.52                9  3079.44

      ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
3    2003-08-25  Shipped       3         8     2003  ...
4    2003-10-10  Shipped       4        10     2003  ...
5    2003-10-28  Shipped       4        10     2003  ...
12   2004-05-18  Shipped       2         5     2004  ...
13   2004-06-28  Shipped       2         6     2004  ...
...         ...      ...     ...       ...      ...  ...
2748 2003-10-28  Shipped       4        10     2003  ...
2752 2004-02-19  Shipped       1         2     2004  ...
2788 2004-11-15  Shipped       4        11     2004  ...
2817 2004-11-21  Shipped       4        11     2004  ...
2822 2005-05-06  On Hold       2         5     2005  ...

                 ADDRESSLINE1  ADDRESSLINE2           CITY STATE POSTALCODE  \
3          78934 Hillside Dr.           NaN       Pasadena    CA      90003
4             7734 Strong St.           NaN  San Francisco    CA        NaN
5           9408 Furth Circle           NaN     Burlingame    CA      94217
12              7476 Moss Rd.           NaN         Newark    NJ      94019
13        25593 South Bay Ln.           NaN    Bridgewater    CT      97562
...                       ...           ...            ...   ...        ...
2748        9408 Furth Circle           NaN     Burlingame    CA      94217
2752         361 Furth Circle           NaN      San Diego    CA      91217
2788  897 Long Airport Avenue           NaN            NYC    NY      10022
2817         5905 Pompton St.     Suite 750            NYC    NY      10022
2822       8616 Spinnaker Dr.           NaN         Boston    MA      51003

     COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
3        USA       NaN           Young            Julie   Medium
4        USA       NaN           Brown            Julie   Medium
5        USA       NaN          Hirano             Juri   Medium
12       USA       NaN           Brown          William   Medium
13       USA       NaN            King            Julie   Medium
...      ...       ...             ...              ...      ...
2748     USA       NaN          Hirano             Juri   Medium
2752     USA       NaN        Thompson          Valarie   Medium
2788     USA       NaN              Yu             Kwai   Medium
2817     USA       NaN       Hernandez            Maria   Medium
2822     USA       NaN         Yoshido             Juri   Medium

[569 rows x 25 columns]

In [ ]:
# 9. Sort dataset by Sales in descending order

In [12]:
sorted_sales = sales_data.sort_values(by='SALES', ascending=False)
print(sorted_sales.head())

      ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
598         10407               76      100.0                2  14082.8
744         10322               50      100.0                6  12536.5
53          10424               50      100.0                6  12001.0
1062        10412               60      100.0                9  11887.8
104         10403               66      100.0                9  11886.6

      ORDERDATE      STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
598  2005-04-22     On Hold       2         4     2005  ...
744  2004-11-04     Shipped       4        11     2004  ...
53   2005-05-31  In Process       2         5     2005  ...
1062 2005-05-03     Shipped       2         5     2005  ...
104  2005-04-08     Shipped       2         4     2005  ...

                      ADDRESSLINE1  ADDRESSLINE2       CITY STATE POSTALCODE  \
598                 3086 Ingle Ln.           NaN   San Jose    CA      94217
744       2304 Long Airport Avenue           NaN     Nashua    NH      62005
53              C/ Moralzarzal, 86           NaN     Madrid   NaN      28034
1062            C/ Moralzarzal, 86           NaN     Madrid   NaN      28034
104   Berkeley Gardens 12  Brewery           NaN  Liverpool   NaN    WX1 6LT

     COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
598      USA       NaN           Frick              Sue    Large
744      USA       NaN           Young          Valarie    Large
53     Spain      EMEA          Freyre            Diego    Large
1062   Spain      EMEA          Freyre            Diego    Large
104       UK      EMEA           Devon        Elizabeth    Large

[5 rows x 25 columns]

In [ ]:
THANK YOU BY DURGAM MANOHAR